@import './rating-bar-map.scss';

:host([type='linear']) {
  display: block;
  width: $rating-bar-linear-width;
}

:host([type='donut']) {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  width: $rating-bar-donut-width;
}

.rating-bar-container {
    background-color: var(--rating-bar-background-color);
    border-radius: $rating-bar-linear-border-radius;
    width: $rating-bar-linear-track-width;
    .rating-bar {
      border-radius: $rating-bar-linear-track__indicator-border-radius;
      height: $rating-bar-linear-track__indicator-height;
      margin-bottom : var(--rating-bar-linear-track-padding);
      &.rating--bad {
        background-color: var(--rating-bar-excellent);
      }
      &.rating--poor {
        background-color: var(--rating-bar-poor);
      }
      &.rating--average {
        background-color: var(--rating-bar-average)
      }
      &.rating--great {
        background-color: var(--rating-bar-great);
      }
      &.rating--excellent {
        background-color: var(--rating-bar-bad);
      }
    }
  }

  .rating-bar-info {
    display: flex;
    justify-content: space-between;
    font-family: var(--rating-bar-font-family);
    font-weight: var(--rating-bar-font-weight);
    font-size: var(--rating-bar-linear-rating-info-font-size);
  }

  .donut {
    position: relative;
    transform: rotate(-90deg);
    .donut-container {
      stroke: var(--rating-bar-donut-track-stroke-color);
      fill: none;
      stroke-width: 4;
    }
    .donut-indicator {
      stroke-dasharray: $rating-bar-donut-indicator-stroke-area;
      fill: none;
      stroke-width: 4;
      &.donut-excellent {
        stroke: var(--rating-bar-excellent);
      }
      &.donut-great {
        stroke: var(--rating-bar-great);
      }
      &.donut-average {
        stroke: var(--rating-bar-average);
      }
      &.donut-poor {
        stroke: var(--rating-bar-poor);
      }
      &.donut-bad {
        stroke: var(--rating-bar-bad);
      }
    }
  }

  .donut-info {
    font-family: var(--rating-bar-font-family);
    font-weight: var(--rating-bar-font-weight);
    font-size: var(--rating-bar-donut-rating-info-font-size);
    position: absolute;
  }